.acordeon button {
    padding: 21px 24px;
    color: var(--white);
    background-color: var(--red-3);
}

.acordeonHeader button::after {
    color: var(--white);
    margin-left: 35px!important;
}

.acordeonBody {
    padding: 0px!important;
    background: var(--red-4);
}

.acordeonBody ul {
    padding: 0.6rem 3.5rem!important;
}

.acordeonBody ul li {
    margin-bottom: 13px!important;
    list-style: circle;
    border: none!important;
    /* padding: 0px 23px; */
}

.acordeonBody ul li::marker {
    margin-right: 10px;
}

.acordeonBody ul li a {
    padding: 10px 0!important;
}