.textsPrimary {
    margin-bottom: 180px;
}

.textsPrimary h3 {
    letter-spacing: 0px;
    line-height: 23px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: var(--text-size-5);
    font-family: "Sora", sans-serif;
    color: var(--black-2);
}

.textsPrimary_example {
    padding: 0 25px;
    height: 252px;
    color: var(--black-2);
    background: #FAFAFC;
}

.textsPrimary_example h1 {
    line-height: 65px;
    font-size: var(--text-size-2);
}

.textsPrimary_example h2 {
    line-height: 50px;
    font-size: var(--text-size-4);
}

.textsPrimary_example h3 {
    line-height: 33px;
    font-size: var(--text-size-5);
}