.detailsButtonTextActive {
    margin-bottom: 180px;
}

.detailsButtonTextActive h3 {
    letter-spacing: 0px;
    line-height: 23px;
    margin-bottom: 30px;
    font-size: var(--text-size-7);
    font-family: "Sora", sans-serif;
    color: var(--black-2);
}

.detailsButtonTextActive_example {
    padding: 0rem 7rem;
    display: flex;
    height: 252px;
    background: #FAFAFC;
}

.buttonBanner a {
    text-decoration: none;
}

.buttonBanner_a p {
    font-size: 14px;
    line-height: 25px;
}

.buttonBanner_a p:hover {
    font-weight: bold;
}

.buttonBanner hr {
    height: 12px!important;
    margin-top: 0px;
    width: 40%;
    opacity: 1
}

.buttonBanner p {
    color: var(--black-2);
}